/*******And It began********/
/*****Fonts*****/
@import url('https://fonts.googleapis.com/css2?family=Barrio&display=swap');

:root{
  --primary-green:#008000;
  --primary-white:#ffffff;
  --primary-dark: rgba(255,255,255,0);
}
body{
  font-family: 'Barrio', cursive;
}

/***************Navbar****************/
.mylogo {
  width: 15rem;
}

/********NAVBAR MENU********/
nav a.nav-link {
  font-size: .8rem;
  font-weight: 600;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li> a {
  margin-left: 0.75rem;
  margin-right: 00.75rem;
  color:var(--primary-green) !important;
  border-top: 00.1875rem solid var(--primary-dark);
}

.nav-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top:0.1875rem solid var(--primary-white) ;
}

.navbar-nav >li >a:hover{
  border-top:0.1875rem solid var(--primary-white) ;
}